<li  
  class="list-group-item d-flex flex-row align-items-center justify-content-between" 
  [ngClass]="todo.status ? 'list-group-item-success':  ''"
  [ngStyle]="" 
  >
  <div class="w-100" >
    <label class="d-flex flex-row align-items-center my-0" >
      <fa-icon class="fa-2x btn btn-outline-info  mr-3" (click)="todo.status=!todo.status"  [icon]="todo.status ? faCheckSquare: faSquare"></fa-icon>
      <div>
          <h6>#{{todo.id}} - {{todo.title}}</h6>
          <small *ngIf="titleShown">{{todo.text}}</small>
      </div>
    </label>
  </div>
  <div class="actions d-flex flex-row align-items-center ml-auto mr-3">
    <fa-icon class="mr-2 bodyToggler" [icon]="(titleShown) ? faChevronUp : faChevronDown" (click)="titleShown=!titleShown"></fa-icon>
    <button
      (click)="open(content)"
      class="btn btn-outline-primary mr-2">
      <fa-icon  [icon]="faPencilAlt"></fa-icon>
    </button>
    <button class="btn btn-outline-danger" (click)="delItem(todo.text)">
      <fa-icon  [icon]="faTimes"></fa-icon>
    </button>
  </div>
</li>    


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Hello, World!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
  </ng-template>