<div class="modal-header">
  <h4 class="modal-title">#{{todo.id}} - {{todo.title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  
    <div class="form-group">
      <label for="formGroupInput"> Todo Titile </label>
      <input 
        type="text" 
        class="form-control" 
        id="formGroupInput" 
        placeholder="Title" 
        value="{{todo.title}}" 
        [(ngModel)]="editedItem.title"
      >
    </div>
    <div class="form-group">
      <label for="FormControlTextarea"> Todo Text </label>
      <textarea 
        class="form-control" 
        id="FormControlTextarea" 
        rows="3" 
        placeholder="Text" 
        value="{{todo.text}}" 
        [(ngModel)]="editedItem.text" 
      ></textarea>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="saveEdited()">Save</button>
</div>