<div class="container">
  <div class="row">
    <div class="col col-xl-8 mx-xl-auto">
        <h2>{{title}}</h2>
        <ul class="list-group">
          <li 
            *ngFor="let todo of todosArray" 
            class="list-group-item list-group-item-action" 
            [ngClass]="todo.status ? 'list-group-item-success':  ''"
            
            >
            <div class="d-flex flex-row align-items-center justify-content-between m-0">
              <label class="d-flex flex-row align-items-center my-0">
                <button class="btn btn-outline-info  mr-3" (click)="todo.status=!todo.status;" >
                  <fa-icon [icon]="todo.status ? faCheckSquare: faSquare"></fa-icon>
                </button>
                <input class="form-check-input" type="checkbox" [(ngModel)]="todo.status" hidden> #{{todo.id}} - {{todo.text}}
              </label>
              <button class="btn btn-outline-danger ml-auto" (click)="delItem(todo.text)">X</button>
            </div>
          </li>    
        </ul>
        <hr>
        <div class="form-row align-items-center">
          <div class="col">
            <input type="text" class="form-control" placeholder="title" [(ngModel)]="newTitle" >
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="text" [(ngModel)]="newText" >
          </div>
          <div class="col">
            <button class="btn btn-info" (click)="addNew()" >+</button>
          </div>
        </div>
    </div>
  </div>
  <div>
    
    
    <!-- 
      []<-    
      ()->    
    -->
  </div>
</div>
